<div class="card-columns m-5 animated fadeIn text-center ">
    <div (click)=verArtista(item) *ngFor="let item of items" class="puntero card">
        <img class="card-img-top" [src]="item.images | noimage" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text">

                <span *ngFor="let artistas of item.artists" class="badge badge-primary">{{artistas.name}}</span>

            </p>
        </div>
    </div>
</div>